* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#2871ac, #054792b0);
}



.container {
    border: solid 1px rgba(255, 255, 255, 0.7);
}



table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(43, 32, 141, 0.233);
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(58, 228, 219, 0.4);
}